:root {
    color-scheme: light !important;
}

body{
    font-size : 1rem;
}

h1{
    font-size : 3rem !important;
    font-weight : 700 !important;
    text-align: left !important;
    white-space: nowrap !important;
}
h2{
    font-size : 2rem !important;
    text-align: left !important;
}

/* Make content full width */
article.article-grid {
    display: block !important;
}

article.content h1 {
    max-width: 60% !important;
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

article.content h2 {
    max-width: 60% !important;
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;

}
/*
img:hover{
    border-radius: 8px;
    border: 10px solid #0CC;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
</style>
</head>
<body>

<ul>
  <li><a href="#Benchmark1">Benchmark1</a></li>
</ul>

